.jumbotron{
  background-image:url(back.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body{
  background-image:url(back2.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
